# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /%Home%
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /%Home%[L]
</IfModule>
# END WordPress
